doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/bootstrap.min.css')
  body(ng-app='bookstore')
    //- navbar
    ng-view

  //- Dependencies
  script(type='text/javascript', src='lib/angular/angular.min.js')

  //- My modules
  script(type='text/javascript', src='app/app.module.js')
